<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    {{!-- BULMA CSS LIBRARY --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <title>Tech Blog</title>
</head>

<body>

    {{!-- navbar --}}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p id="logo"><i class="fas fa-asterisk"></i> TECH BLOG</p>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/dashboard">
                    Dashboard
                </a>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{#if logged_in}}
                        <a class="button is-light" id="signout-btn">
                            Log Out
                        </a>
                        {{else}}
                        <a class="button is-primary" href="/login">
                            Login
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {{{body}}}

    <footer id="footer-one" class="footer">
        <div class="content">
            <div class="columns">
                <div class="column">
                    <h3>Site Links</h3>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <p><a href="#">Home</a></p>
                    <p><a href="#">About Us</a></p>
                    <p><a href="#">Contact Us</a></p>
                    <p><a href="#">Media</a></p>
                </div>
                <div class="column">
                    <p><a href="#">Promotions</a></p>
                    <p><a href="#">Partners</a></p>
                    <p><a href="#">Careers</a></p>
                    <p><a href="#">FAQs</a></p>
                </div>
                <div class="column">This website is not real. It is made for fun with love 🤍 <br> by <a href="https://github.com/codingnav" target="_blank">CodingNav</a></div>
                <div class="column"></div>
            </div>
        </div>
    </footer>

    <footer id="footer-two" class="footer">
        <div class="content">
            <div class="columns has-text-centered">
                <div class="column">
                    <p id="footer-logo"><i class="fas fa-asterisk"></i> TECH BLOG</p>
                </div>
                <div id="socials" class="column">
                    <p><b>Follow Us</b></p>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="column">
                    <p>Recieve the Latest News and Exclusive Offers by</p>
                    <a class="footer-btn button"><b>Text</b></a>
                    <a class="footer-btn button"><b>Email</b></a>
                </div>
            </div>
            <div id="footer-copyright" class="columns has-text-centered">
                <div class="column">
                    <p class="mb-0">&copy; Copyright 2021 Tech Blog</p>
                    <a>Terms of Use</a>
                    <span> | </span>
                    <a>Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/assets/js/signout.js"></script>
    {{/if}}
</body>

</html>