<div class="columns">
    <div class="column">
        <h1 class="heading has-text-centered">Dashboard</h1>
    </div>
</div>

<div class="columns">
    <div class="column  has-text-centered">
        <a id="new-post-btn" class="button is-primary" href="/newPost"><i class="fas fa-plus"></i> New Post</a>
    </div>
</div>

<div class="columns">
    {{#each posts as |post|}}
    <div class="column">
        <article class="message">
            <div class="message-header">
                <p>{{post.title}}</p>
                <div>
                    <a href="/edit/{{post.id}}"><i class="far fa-edit"></i></a>
                    <button class="delete" aria-label="delete" data-id="{{post.id}}"></button>
                </div>
            </div>
            <div class="message-body">{{post.message}}</div>
        </article>
    </div>
    {{/each}}
</div>

<script src="/assets/js/delete.js"></script>