<div class="columns">
    <div class="column">
        <h1 class="has-text-centered">Dashboard</h1>
    </div>
</div>

<div class="columns">
    <div class="column  has-text-centered">
        <button id="new-post-btn" class="button is-primary"><i class="fas fa-plus"></i> New Post</button>
    </div>
</div>