<div class="column">

    {{!-- Login --}}
    <div class="column is-half">
        <h1>Login</h1>

        {{!-- username --}}
        <div class="field">
            <label class="label" for="username-login">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input id="username-login" class="input is-success" type="text" placeholder="Username" value="">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        {{!-- password --}}
        <div class="field">
            <label id="password-signup" class="label" for="password-login">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="password" placeholder="Password" value="">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>

        {{!-- login btn --}}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Login</button>
            </div>
        </div>
    </div>

    {{!-- Signup --}}
    <div class="column is-half">
        <h1>Signup</h1>

        {{!-- username --}}
        <div class="field">
            <label class="label" for="username-signup">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input id="username-signup" class="input is-success" type="text" placeholder="Username" value="">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <p class="help is-success">This username is available</p>
        </div>

        {{!-- password --}}
        <div class="field">
            <label class="label" for="password-signup">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input id="password-signup" class="input is-danger" type="password" placeholder="Password" value="">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <p class="help is-danger">This password is invalid</p>
        </div>

        {{!-- terms and conditions --}}
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
                </label>
            </div>
        </div>

        {{!-- signup btn --}}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Signup</button>
            </div>
        </div>
    </div>


        <script src="./js/login.js"></script>