/* navbar */
#logo {
    font-family: 'Jua', sans-serif;
    font-size: 35px;
    color: black;
}

#logo i {
    color: #00d1b2;

}

.heading {
    font-size: 40px;
}

/* homepage */
.homepage {
    padding: 10px 100px;
}

.homepage .message {
    color: #4a4a4a !important;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.homepage .message:hover {
    box-shadow: 0 4px 8px 0 #00000044, 0 6px 20px 0 #00000044;
    color: #f1f1f1 !important;
    background-color: #628b89;
}

.homepage .message-header {
    margin-left: 10px;
    padding: 1.25em 1.5em 0em;
    font-weight: 300;
    color: unset;
    background-color: unset;
}

.homepage .message-body {
    padding: .5em 1.5em 1.25em;
    color: unset;
}

.homepage .post-info {
    margin-left: 10px;
}

.homepage .message-footer button {
    border-radius: 30px;
}

.profile-img {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}

.homepage .message-footer p {
    position: absolute;
    transform: translateY(8px);
    display: inline-block;
    padding-left: 10px;
}

.homepage .post-title {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
}
.homepage .post-message {
    padding-bottom: 20px;
    white-space: pre-wrap;
}

/* post page */
#post-page-title {
    font-size: 50px;
}

#post-user p {
    position: absolute;
    transform: translateY(8px);
    display: inline-block;
}

#post-user img {
    margin-left: 85px;
}

#post-user p:last-child {
    padding-left: 5px;
}

#post-page-creds {
    padding-bottom: 20px;
}

#post-page-msg {
    white-space: pre-wrap;
}

.socials {
    text-align: center;
    font-size: 25px;
}

.socials p {
    padding-bottom: 15px;
}

.socials i {
    padding-bottom: 15px;
}

.socials i:hover {
    color: #00d1b2;
}

/* dashboard page */
.dashboard {
    padding: 10px 100px;
}

.dashboard .message-body{
    white-space: pre-wrap;
}

#new-post-btn {
    padding-left: 6px;
    text-indent: 10px;
}

/* footer */
.footer {
    color: white;
}

#footer-one {
    margin-top: 100px;
    padding: 50px 50px;
    background-color: #666666;
}

#footer-one h3 {
    color: white;
}

#footer-one a {
    color: white;
}

#footer-one a:hover {
    color: #9b9b9b;
}

#footer-two {
    padding: 30px 50px 15px;
    background-color: #00d1b2;
}

#footer-two #footer-logo {
    font-family: 'Jua', sans-serif;
    font-size: 35px;
    line-height: 120px;
    color: #ffffff;
}

#footer-two #footer-logo i {
    color: #ffffff;
}

#footer-two #socials {
    line-height: 120px;
}

#footer-two #socials p {
    display: inline-block;
    padding-right: 15px;
}

#footer-two #socials i {
    padding-right: 15px;
    font-size: 20px;
}

#footer-two #socials i:hover {
    color: #29a994;
}

.footer-btn {
    margin: 0px 10px;
    border: none;
    border-radius: 30px !important;
    color: white;
    background-color: #29a994;
}

#footer-btn .button.is-hovered, .button:hover {
    color: white;
    background-color: #238676;
}

#footer-copyright {
    color: #9fefe1;
}

#footer-copyright a {
    color: #9fefe1;
}

#footer-copyright a:hover {
    color: #29a994;
}